@font-face {
    font-family: 'Averta';
    src: url('assets/AvertaDemo/Averta-Regular.otf');
    src: local('Averta'), local('Averta-Regular'), url('assets/AvertaDemo/Averta-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Averta ';
    src: url('aassets/AvertaDemo/Averta-ExtraBoldItalic.otf');
    src: local('Averta ExtraBoldItalic'), local('Averta-ExtraBoldItalic'), url('assets/AvertaDemo/Averta-ExtraBoldItalic.otf') format('opentype');
    font-weight: bold;
}

body {
    font-family: Passenger Display, serif;
    height: 100%;
    
}

html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

p {
    font-family: 'Averta';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #8D8D8D;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #353535;
}

h6 {
    font-family: 'Averta';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A695E;
}

.bg-image {
    background-image: linear-gradient(180deg, #05231E -14.59%, rgba(255, 255, 255, 0) 60%), url("assets/image1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    mix-blend-mode: multiply;
}

.container {
    max-width: 60%;
    overflow-x: visible;
}

.circle {
    position: absolute;
    right: 0;
    width: 50%;
}

.my-6 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
    .my-6 {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.btn-primary {
    background: #1A695E;
    border-radius: 3px;
    font-size: 10px;
}

.btn-primary:hover {
    background: #103e38;
    border-radius: 5px;
}

.float-left {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #ffffff;
    transition: 1s;
}

.nav-link:hover {
    color: #3acd75;
    transform: translate(0px, -10px);
}

.img-r {
    margin-left: -80%;
}

.img-l {
    margin-left: 73%;
    width: 100%;
}
.mission
{
    background-image: linear-gradient(270deg, #222626 9.09%, rgba(26, 105, 94, 0) 100.45%),url("assets/Rectangle\ 76.png");
    height: 250px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.primary-color{
    color: #1A695E;
}
.background{
width: 100%;
height: auto;
background: #1C1C1C;

}
h3{
    font-family: 'Passenger Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 17px;
/* identical to box height */
color: #1A695E;
}
.nav-bar{
width: 100%;
height:max-content;
background: #1A695E;
}
.bg-fade{
    background: #1a695f2a;
    width: 100%;
    height:max-content;
}
.bg-circle{
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    
    } 
.bg-circle img{
    width: auto; 
    height: 100%;
    border-radius: 50%;
    border: 8px solid rgba(26, 105, 94, 0.98);
}
h5 ~ p{
    color: #1A695E;
}
.contact  p{
    color: #1A695E;
}
.contact{
    position: relative;
    height: 430px;
}
.contact > p:last-of-type{
    position: absolute;
    bottom: 0;
    left: 0;
}