@font-face {
    font-family: 'Averta';
    src: url('assets/AvertaDemo/Averta-Regular.otf');
    src: local('Averta'), local('Averta-Regular'), url('assets/AvertaDemo/Averta-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Averta ';
    src: url('aassets/AvertaDemo/Averta-ExtraBoldItalic.otf');
    src: local('Averta ExtraBoldItalic'), local('Averta-ExtraBoldItalic'), url('assets/AvertaDemo/Averta-ExtraBoldItalic.otf') format('opentype');
    font-weight: bold;
}

body {
    font-family: Passenger Display, serif;
    height: 100%;

}

html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

p {
    font-family: 'Averta';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #8D8D8D;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #353535;
}

h6 {
    font-family: 'Averta';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A695E;
}

.bg-image {
    background-image: linear-gradient(270.28deg, #04170be8 1.91%, rgba(55, 73, 64, 0.736) 45.79%, rgba(255, 255, 255, 0) 100%), url("assets/image1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #ffffff;
}

.container {
    max-width: 60%;
    overflow-x: visible;
}

.circle {
    position: absolute;
    right: 0;
    width: 50%;
}

.circle2 {
    position: absolute;
    left: 0;
    width: 50%;
    bottom: auto;
}

.my-6 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
    .my-6 {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.btn-primary {
    background: #1A695E;
    border-radius: 3px;
    font-size: 10px;
}

.btn-primary:hover {
    background: #103e38;
    border-radius: 5px;
}

.float-left {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #ffffff;
    transition: 1s;
}

.nav-link:hover {
    color: #3acd75;
    transform: translate(0px, -10px);
}

.img-r {
    margin-left: -80%;
}

.img-l {
    margin-left: 73%;
    width: 100%;
}

.mission {
    background-image: linear-gradient(270deg, #222626 9.09%, rgba(26, 105, 94, 0) 100.45%), url("assets/Rectangle\ 26.png");
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-color {
    color: #1A695E;
}

.background {
    width: 100%;
    height: auto;
    background: #1C1C1C;

}

h3 {
    font-family: 'Passenger Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    /* identical to box height */
    color: #1A695E;
}

.nav-bar {
    width: 100%;
    height: max-content;
    background: #1A695E;
}

.bg-fade {
    background: #1a695f2a;
    width: 100%;
    height: max-content;
}

.bg-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.bg-circle img {
    width: auto;
    height: 100%;
    border-radius: 50%;
    border: 8px solid rgba(26, 105, 94, 0.98);
}

h5~p {
    color: #1A695E;
}

.contact p {
    color: #1A695E;
}

.contact {
    position: relative;
    height: 430px;
}

.contact>p:last-of-type {
    position: absolute;
    bottom: 0;
    left: 0;
}

.square>img {
    background: #1A695E;
    mix-blend-mode: multiply;
    border-radius: 3px;
    width: 200px;
    height: 200px;
}

.square {
    position: relative;
    text-align: center;
}

.square>h4 {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-2>img {
    background: #279e8e48;
    mix-blend-mode: multiply;
    border-radius: 3px;
    width: 200px;
    height: 200px;
}

.square-2 {
    position: relative;
    text-align: center;
}

.square-2>h4 {
    color: #1A695E;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mission2 {

    background-image: linear-gradient(90deg, rgba(26, 105, 94, 0.8) 100%, rgba(26, 105, 94, 0.8) 100.45%), url("assets/Rectangle\ 75.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width: 600px) {
    .mission2 {
        height: 450px;
    }
}

footer>p {
    color: CAC4C4;
}

@media only screen and (max-width: 600px) {
    .img-r {
        margin-left: -40%;
    }

    .img-l {
        margin-left: 43%;
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .flex-column {
        flex-direction: row !important;
    }
}
.outer-circle > svg{
    position: absolute;
    top: 0;
    left: 0;
}
.outer-circle{
    outline: 80px solid  #1a695f0c;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.inner-circle{
    border: 10px solid  #1A695E;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    align-items: center;
}

.outer-circles{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    margin: auto;
}

.inner-circles{
    border: 8px solid rgba(26, 105, 94, 0.15);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
}
@media only screen and (max-width: 8000px) {
    
    .reviews > .col {
        margin: 45px ;
        
    }
    .outer-circle{
        outline: 30px solid  #1a695f0c;
        width: 280px;
    height: 280px;
    
    }
    .inner-circle{
        width: 250px;
    height: 250px;
    border-radius: 50%;
    }
}
.reviews{
    margin: 80px 0px 0px 0px;
    padding: 30px 0px;
}
.active{
    color: #52C0B7;
}
.lang{
    color: #ffffff;
    border: 1px solid #ffffff ;
    font-size: 13px;
    text-decoration-line: none;
    margin-top: 2rem;
    margin-right: 5rem;
}
::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #1A695E;
  }
  
  ::selection {
    color: #FFF;
    background: #1A695E;
  } 

::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-track{
    background: #0b3022;
}
::-webkit-scrollbar-thumb{
    background: #1A695E;
}
a{
    text-decoration: none;
}